<mat-card>
    <mat-card-title> Alterar Medico</mat-card-title>
    <form>
        <mat-form-field >
            <input matInput placeholder="Id" 
            [(ngModel)]="medico.id" name="id" type="text" [value]="id" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nome" 
            [(ngModel)]="medico.nome" name="nome">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="CRM"
            [(ngModel)]="medico.crm" name="crm">
        </mat-form-field>
      
        
    </form>
</mat-card>


<button mat-raised-button (click)="updateMedico()" color ="primary">
    Salvar
</button>
<button mat-raised-button (click)="cancell()">
    Cancelar
</button>