button{
    margin-left: 16px;
    margin-top: 15px;
    text-align: center;
}
div.btn{
text-align: center;
}
div.direita{
    width: 50%;
    
    display: inline-block;
    margin-right: 0vw;
    font-size: 1vw;
    text-align: center;
    padding: 0vw 0vw 1vw 0vw;
    
    float:right;
}
div.esquerda{
    width:50%;
    display: inline-block;
    
    font-size: 1w;
    text-align: center;
    padding: 0vw 0vw 1vw 0vw;
    
}