
<mat-card>
    <mat-card-title> Novo Exame</mat-card-title>

    <div class="esquerda">
      <h3>Medico Responsavel</h3>
      <mat-form-field appearance="fill">
        <mat-label>Selecione:</mat-label>
        <select matNativeControl required  [(ngModel)]="exame.medico"> 
          <option value="">Selecione</option>
          <option *ngFor="let medico of medicos" [ngValue]="medico.id">
              {{medico.nome}}
          </option>
        </select>
      </mat-form-field>
      
      
      <h3>Funcionario</h3>
      <mat-form-field appearance="fill">
        <mat-label>Selecione:</mat-label>
        <select matNativeControl required  [(ngModel)]="exame.funcionario"> 
          <option *ngFor="let funcionario of funcionarios" [ngValue]="funcionario.id">
              {{funcionario.nome}}
          </option>
        </select>
      </mat-form-field>
      
      <h3>Tipo de Exame</h3>
      <mat-form-field appearance="fill">
        <mat-label>Selecione:</mat-label>
        <select matNativeControl required  [(ngModel)]="exame.tipoExame"> 
          
          <option value="ADMISSIONAL">ADMISSIONAL</option>
          <option value="PERIODICO">PERIODICO</option>
          <option value="RETORNO">RETORNO</option>
          <option value="DEMISSIONAL">DEMISSIONAL</option>
          <option value="TRANSFERENCIA">TRANSFERENCIA</option>
        </select>
      </mat-form-field>
    </div>


<div class="direita">
  <h3>Risco Ocupacional</h3>
  <mat-form-field appearance="fill">
    <mat-label>Selecione:</mat-label>
    <select matNativeControl required  [(ngModel)]="exame.riscoOcupacional"> 
      
      <option value="FISICO">FISICO</option>
      <option value="QUIMICO">QUIMICO</option>
      <option value="BIOLOGICO">BIOLOGICO</option>
      <option value="ERGONOMICO">ERGONOMICO</option>
      <option value="ACIDENTAL">ACIDENTAL</option>
    </select>
  </mat-form-field>
  
  <h3>Observacao</h3>
  <mat-form-field appearance="fill">
    
    <mat-label></mat-label>
    <textarea matInput [(ngModel)]="exame.observacao" name="observacao"></textarea>
  </mat-form-field>

</div>



</mat-card>

<div class="btn">
  <button mat-raised-button (click)="createExame()" color ="primary">
    Salvar
    </button>


</div>
